<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该配置命名空间 -->
<mapper namespace="com.hd.test.db.dao.UserMapper">

    <select id="queryUser" resultType="com.hd.test.db.entity.User" parameterType="java.lang.String">
        SELECT
          ID,
          NAME
        FROM
          user
        WHERE ID = #{USER_ID}
    </select>

    <select id="getMysqlTimeStamp" resultType="java.lang.Long">
        SELECT UNIX_TIMESTAMP(now())
    </select>

</mapper>
